body {
  font-family: 'Roboto', sans-serif;
  // background-color: #f7f5f9;
}
.goals {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 50px 24px;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  list-style-type: none;
  &__li {
    border: 1px solid #020202;
    background: #6332e9;
    color:#fff;
    cursor: pointer;
    margin-bottom: 12px;
    padding: 16px 30px;
    text-align: center;
  }
  &__li:hover {
    background: #7d7e81;
    color: #fff;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  // border-bottom: 2px solid #020202;
  &__profile {
    padding: 25px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
  }
  &__profile:hover {
    background-color: #7d7e81;
  }
}
.goal {
  display: flex;
  flex-direction: column;
  &__btn-add {
    max-width: 200px;
    background: blue;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    cursor: pointer;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }
}
